version: '3.8'
services:
  web:
    build: .
    ports:
    - "5000:5000"
    volumes:
    - .:/var/www
    links:
    - mongodb
  mongodb:
    image: mongo
    volumes:
      - mongo-data:/data/db
      - mongo-configdb:/data/configdb
volumes:
  mongo-data:
  mongo-configdb:
